{%- import 'macros.html.inc' as macros with context -%}
{%- set __blk = block(slug) -%}
<p>
<a name="{{__blk.slug}}"></a>
<h6>{{__blk.left}}<b>{{__blk.name}}</b>{{__blk.right}}: <a href="{{__blk.source_path(__file__)}}">{{__blk.source_path(__file__)}}: {{__blk.line}}</a></h6>
<hr>
<pre>
{{__blk.text}}
</pre>
{% if __blk.parent -%}
    <span>
        {%- for comp in __blk.path -%}
            {%- if comp != __blk.slug -%}
                {{ macros.ref_or_name(comp) }} |&nbsp;
            {%- else -%}
                {{ __blk.name }}
            {%- endif -%}
        {%- endfor -%}
    </span>
{%- endif %}
<ul>
{% for cref in __blk.nested %}
{%- set child = block(cref) -%}
{%- if child and child.is_rendered -%}
<li> {{ macros.ref_or_name(cref) }} </li>
{% endif -%}
{% endfor %}
</ul>
<hr>
</p>